<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/_Base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>

<body>
    <!-- sectiopn start -->
    <section class=" d-flex justify-content-center align-items-center">

        <div class="text-center">

            <h1 class="text-center display-4">Smart Contact Manager</h1>

            <p>Start Collecting Your Contacts in very Smarter way. We provide very efficient and Smarter Way of Handling
                Contacts</p>

            <a th:href="@{/user/add-contact}" type="submit" class="btn btn-secondary">Explor Know</a>

        </div>

    </section>
    <!-- section end -->

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

</html>